body {
    background-color: #ffffff;
    color: #9b4dca;
  }

  #footer{
    background-color: #d2afe7;
    padding: 1em;
    margin-left: 0;
    border-radius: 8px;
    position: inherit;
    width: calc(100% - 16px);
    bottom: 0;
  }

  main > header {
    display: flex;
    align-items: center;
    background-color: #d2afe7;
    padding: 1em;
    margin: 1em;
    border-radius: 8px;
  }
  main > header h1 {
    margin: 0;
    width: 20%;
  }
  main > header a.button {
    margin: 1em;
  }

  main > header > form {
    margin-bottom: 0px;
    display: grid;
    margin-right: 11px;
  }

  main > header > form > #search {
    justify-self: right;
    margin-bottom: 0px;
    min-height: 36px;
    max-height: 36px;
    background-color: white;
  }

  main > header span {
    margin: 1em;
    justify-self: center;
  }

  #search_area {
    height: 36px;
  }

  #search {
    background-color: white;
  }

  .row {
    display: flex;
    justify-content: space-between;
  }
  .sidebar {
    width: 0; /* or whatever width you prefer */
    padding-right: 20px; /* Adjust spacing as needed */
  }
  .main-content {
    width: 95%; /* Adjust based on sidebar width */
  }

  #main_buttons {
    float: left;
  }

  #user_buttons {
    position: relative;
    float: right;
  }

  #content label {
    font-weight: normal;
  }
  #content > form {
    margin: 0 auto;
    padding: 1em;
    max-width: 20em;
    border: 1px solid #d2afe7;
  }
  #content > form .error {
    font-weight: bold;
    color: #ff3333;
  }
  #content > form .success {
    font-weight: bold;
    color: #106af1;
  }
  #content > form input {
    background-color: white;
  }
  @media (max-width: 70em) {
    main > header {
      display: grid;
      grid-template-columns: 1fr auto;
    }
    main > header h1 {
      grid-row-end: span 2;
    }
  }

  @media (max-width: 25em) {
    body {
      margin: 0;
    }
    main > header {
      margin: 0;
      padding: 0.5em;
    }
    main > header span {
      margin: 0;
    }
    #content form {
      margin: 0;
      max-width: 25em;
    }
  }
  /**
   * Override milligram colors
   * Some styles might be missing
   **/
  button {
    background-color: #9b4dca;
    border-color: #9b4dca;
  }
  a.button {
    background-color: #9b4dca;
    border-color: #9b4dca;
  }
  a.button.button-outline {
    color: #9b4dca;
  }
  a {
    color: #9b4dca;
  }
  input[type=text]:focus,
  input[type=email]:focus,
  input[type=password]:focus {
    border-color: #9b4dca;
  }

  #content form{
    padding: 16px;
    margin: 16px;
    margin-left: 0px;
    margin-bottom: 0px;
  }

  #content h2 {
    padding: 16px;
    margin: 16px;
    margin-left: 0px;
  }

  #content .question {
    font-weight: bold;
    font-size: 1.2em;
    background-color: white;
    padding: 16px;
    margin: 16px;
    border-radius: 5px;
  }
  