main > #content {
    margin: 16px;
    padding: 16px;
    background-color: #d2afe7;
    border-radius: 5px;
}

main > #content > #new_question {
    margin: 0 auto;
    padding: 16px;
}

main > #content > #new_question > form > #title{
    background-color: white;
    max-width: calc(50%);
}

main > #content > #new_question > form > #text_body{
    background-color: white;
    height: 100px;
    min-width: 100%;
    max-width: 100%;
    min-height: 28px;
}