#profile > #title_display {
    font-size: 2.5rem;
    font-weight: 300;
    letter-spacing: -0.1rem;
    margin-top: 0;
    background-color: white;
    border-radius: 5px;
    margin-bottom: 16px;
    margin-right: 0px;
}

#profile > #info {
    background-color: #d2afe7;
    padding: 1em;
    border-radius: 5px;
    background-color: white;
    margin-bottom: 16px;
}

/* For the profile edit page */
#content > #profileEdit {
    font-size: 2.5rem;
    font-weight: 300;
    letter-spacing: -0.1rem;
    margin-top: 0;
    background-color: white;
    border-radius: 5px;
    margin-bottom: 16px;
    margin-right: 0px;
    padding: 6px;
}